@import "tailwindcss";

@theme {
  /* --- Colors --- */
  --color-base: var(--color-base);
  --color-form-background: #000;

  /* Neutral Group */
  --color-neutral1-50: var(--color-neutral1-50);
  --color-neutral1-100: var(--color-neutral1-100);
  --color-neutral1-200: var(--color-neutral1-200);
  --color-neutral1-300: var(--color-neutral1-300);
  --color-neutral1-400: var(--color-neutral1-400);
  --color-neutral1-500: var(--color-neutral1-500);
  --color-neutral1-600: var(--color-neutral1-600);
  --color-neutral1-700: var(--color-neutral1-700);
  --color-neutral1-800: var(--color-neutral1-800);
  --color-neutral1-900: var(--color-neutral1-900);

  /* Neutral Group */
  --color-neutral2-50: var(--color-neutral2-50);
  --color-neutral2-100: var(--color-neutral2-100);
  --color-neutral2-200: var(--color-neutral2-200);
  --color-neutral2-300: var(--color-neutral2-300);
  --color-neutral2-400: var(--color-neutral2-400);
  --color-neutral2-500: var(--color-neutral2-500);

  /* Primary Group */
  --color-primary1-50: var(--color-primary1-50);
  --color-primary1-100: var(--color-primary1-100);
  --color-primary1-200: var(--color-primary1-200);
  --color-primary1-300: var(--color-primary1-300);
  --color-primary1-400: var(--color-primary1-400);
  --color-primary1-500: var(--color-primary1-500);
  --color-primary1-600: var(--color-primary1-600);
  --color-primary1-700: var(--color-primary1-700);
  --color-primary1-800: var(--color-primary1-800);
  --color-primary1-900: var(--color-primary1-900);



  /* Primary 2 Group */
  --color-primary2-50: var(--color-primary2-50);
  --color-primary2-100: var(--color-primary2-100);
  --color-primary2-200: var(--color-primary2-200);
  --color-primary2-300: var(--color-primary2-300);
  --color-primary2-400: var(--color-primary2-400);
  --color-primary2-500: var(--color-primary2-500);
  --color-primary2-600: var(--color-primary2-600);
  --color-primary2-700: var(--color-primary2-700);
  --color-primary2-800: var(--color-primary2-800);
  --color-primary2-900: var(--color-primary2-900);

  /* Secondary 1 Group */
  --color-secondary1-50: var(--color-secundary1-50);
  --color-secondary1-100: var(--color-secundary1-100);
  --color-secondary1-200: var(--color-secundary1-200);
  --color-secondary1-300: var(--color-secundary1-300);
  --color-secondary1-400: var(--color-secundary1-400);
  --color-secondary1-500: var(--color-secundary1-500);
  --color-secondary1-600: var(--color-secundary1-600);
  --color-secondary1-700: var(--color-secundary1-700);
  --color-secondary1-800: var(--color-secundary1-800);
  --color-secondary1-900: var(--color-secundary1-900);
  /* Secondary 2 Group */
  --color-secondary1-50: var(--color-secundary2-50);
  --color-secondary1-100: var(--color-secundary2-100);
  --color-secondary1-200: var(--color-secundary2-200);
  --color-secondary1-300: var(--color-secundary2-300);
  --color-secondary1-400: var(--color-secundary2-400);
  --color-secondary1-500: var(--color-secundary2-500);
  --color-secondary1-600: var(--color-secundary2-600);
  --color-secondary1-700: var(--color-secundary2-700);
  --color-secondary1-800: var(--color-secundary2-800);
  --color-secondary1-900: var(--color-secundary2-900);

  /* Feedback Colors */
  --color-error-50: var(--color-error-50);
  --color-error-500: var(--color-error-500);
  --color-success-500: var(--color-success-500);
  --color-warning-500: var(--color-warning-500);
  --color-info-500: var(--color-info-500);

  /* --- Animations --- */
  --animate-spotlight: spotlight 2s ease .75s 1 forwards;
  --animate-spotlight-v2: spotlightV2 2s ease 1s 1 forwards;
  --animate-fade-in: FadeIn 200ms linear 1;
  --animate-fade-out: FadeOut 200ms linear 1;
  --animate-slide-left: slideLeft 1s ease forwards;
  --animate-radar: RadarRotation 5s linear infinite forwards;
  --animate-left-scroll: infinite-scroll 15s linear infinite;
  --animate-upside-down: upsideDown .2s linear forwards;

  @keyframes upsideDown {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(180deg);
    }
  }

  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }

    100% {
      opacity: 1;
      transform: translate(-50%, -40%) scale(1);
    }
  }

  @keyframes FadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes RadarRotation {

    0%,
    100% {
      transform: rotate(0deg);
      opacity: 0;
    }

    20%,
    60% {
      opacity: .7;
    }

    80% {
      transform: rotate(180deg);
      opacity: 0;
    }
  }

}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --color-base: #121211;
  /* neutral 1 */
  --color-neutral1-50: #fefefe;
  --color-neutral1-100: #fcfcfb;
  --color-neutral1-200: #fafaf9;
  --color-neutral1-300: #f8f8f7;
  --color-neutral1-400: #f7f7f5;
  --color-neutral1-500: #f5f5f3;
  --color-neutral1-600: #dfdfdd;
  --color-neutral1-700: #aeaead;
  --color-neutral1-800: #878786;
  --color-neutral1-900: #676766;
  /* Neutral 2  */
  --color-neutral2-50: #e6e6e6;
  --color-neutral2-100: #b0b0b0;
  --color-neutral2-200: #8a8a8a;
  --color-neutral2-300: #545454;
  --color-neutral2-400: #333333;
  --color-neutral2-500: #000000;

  /* Primary 1 */
  --colors-primary1-50: #e9e8e7;
  --colors-primary1-100: #b9b7b6;
  --colors-primary1-200: #989592;
  --colors-primary1-300: #686460;
  --colors-primary1-400: #4b4641;
  --colors-primary1-500: #1e1812;
  --colors-primary1-600: #1b1610;
  --colors-primary1-700: #15110d;
  --colors-primary1-800: #110d0a;
  --colors-primary1-900: #0d0a08;
  /* Primary 2 */
  --color-primary2-50: #f9f0ea;
  --color-primary2-100: #ecd0bd;
  --color-primary2-200: #e3ba9d;
  --color-primary2-300: #d79a71;
  --color-primary2-400: #cf8655;
  --color-primary2-500: #c3682b;
  --color-primary2-600: #b15f27;
  --color-primary2-700: #8a4a1f;
  --color-primary2-800: #6b3918;
  --color-primary2-900: #522c12;

  /* Secundary 1 */
  --color-secundary1-50: #e7e7e7;
  --color-secundary1-100: #b4b4b3;
  --color-secundary1-200: #90908e;
  --color-secundary1-300: #5d5d5b;
  --color-secundary1-400: #3d3d3b;
  --color-secundary1-500: #0d0d0a;
  --color-secundary1-600: #0c0c09;
  --color-secundary1-700: #090907;
  --color-secundary1-800: #070706;
  --color-secundary1-900: #050504;

  /* Secundary 2 */
  --color-secundary2-50: #fffdfb;
  --color-secundary2-100: #fef8f2;
  --color-secundary2-200: #fdf5ec;
  --color-secundary2-300: #fcf0e4;
  --color-secundary2-400: #fcedde;
  --color-secundary2-500: #fbe9d6;
  --color-secundary2-600: #e4d4c3;
  --color-secundary2-700: #b2a598;
  --color-secundary2-800: #8a8076;
  --color-secundary2-900: #69625a;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;

  --color-base: #121211;
  /* neutral 1 */
  --color-neutral1-50: #fefefe;
  --color-neutral1-100: #fcfcfb;
  --color-neutral1-200: #fafaf9;
  --color-neutral1-300: #f8f8f7;
  --color-neutral1-400: #f7f7f5;
  --color-neutral1-500: #f5f5f3;
  --color-neutral1-600: #dfdfdd;
  --color-neutral1-700: #aeaead;
  --color-neutral1-800: #878786;
  --color-neutral1-900: #676766;
  /* Neutral 2  */
  --color-neutral2-50: #e6e6e6;
  --color-neutral2-100: #b0b0b0;
  --color-neutral2-200: #8a8a8a;
  --color-neutral2-300: #545454;
  --color-neutral2-400: #333333;
  --color-neutral2-500: #000000;

  /* Primary 1 */
  --color-primary1-50: #e9e8e7;
  --color-primary1-100: #b9b7b6;
  --color-primary1-200: #989592;
  --color-primary1-300: #686460;
  --color-primary1-400: #4b4641;
  --color-primary1-500: #1e1812;
  --color-primary1-600: #1b1610;
  --color-primary1-700: #15110d;
  --color-primary1-800: #110d0a;
  --color-primary1-900: #0d0a08;
  /* Primary 2 */
  --color-primary2-50: #f9f0ea;
  --color-primary2-100: #ecd0bd;
  --color-primary2-200: #e3ba9d;
  --color-primary2-300: #d79a71;
  --color-primary2-400: #cf8655;
  --color-primary2-500: #c3682b;
  --color-primary2-600: #b15f27;
  --color-primary2-700: #8a4a1f;
  --color-primary2-800: #6b3918;
  --color-primary2-900: #522c12;

  /* Secundary 1 */
  --color-secundary1-50: #e7e7e7;
  --color-secundary1-100: #b4b4b3;
  --color-secundary1-200: #90908e;
  --color-secundary1-300: #5d5d5b;
  --color-secundary1-400: #3d3d3b;
  --color-secundary1-500: #0d0d0a;
  --color-secundary1-600: #0c0c09;
  --color-secundary1-700: #090907;
  --color-secundary1-800: #070706;
  --color-secundary1-900: #050504;

  /* Secundary 2 */
  --color-secundary2-50: #fffdfb;
  --color-secundary2-100: #fef8f2;
  --color-secundary2-200: #fdf5ec;
  --color-secundary2-300: #fcf0e4;
  --color-secundary2-400: #fcedde;
  --color-secundary2-500: #fbe9d6;
  --color-secundary2-600: #e4d4c3;
  --color-secundary2-700: #b2a598;
  --color-secundary2-800: #8a8076;
  --color-secundary2-900: #69625a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* -------------------- ANIMATIONS -------------------- */
@keyframes HoverFrames {
  from {
    transform: translate(0%, 0%);
  }

  to {
    transform: translate(0%, 2%);
  }
}

@keyframes OpacityFrames {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}